.header{
   /* position: fixed;
   top: 0 ; */
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: space-between;
   width: 960px;
   padding: 2rem 1.5rem 2rem 1.5rem;
   border-bottom-left-radius: 2.5rem;
   border-bottom-right-radius: 2.5rem;
   background-color: #1E0C06 ;
   z-index: 1;
   opacity: 0.9;
 }
 .logoLink{
  
  display: flex;
  flex-direction: row;
  /* gap: 10px; */
  justify-content: center;
  align-items: center;

 }
 .textLogo{
  
  font-size: 2rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
  line-height: 0.9;
  text-align: start;
 }
 .imgLogo{
  width: 60px;
  height: 60px;
 }